[Unit]
Description=Southport Ringer Service
After=network.target

[Service]
ExecStart=/usr/bin/node /home/pi/southport-system/ringer/index.js

[Install]
WantedBy=multi-user.target
