[Unit]
Description=Southport Herald Service
After=network.target

[Service]
ExecStart=/usr/bin/node /home/pi/southport-system/herald/index.js

[Install]
WantedBy=multi-user.target
