[Unit]
Description=Southport Sentinel Service
After=network.target

[Service]
ExecStart=/usr/bin/node /home/southport/southport-system/sentinel/index.js

[Install]
WantedBy=multi-user.target
