[Unit]
Description=Southport Sentinel Service
After=network.target
Wants=network.target

StartLimitIntervalSec=30
StartLimitBurst=5

[Service]
Restart=on-failure
ExecStart=/usr/bin/node /home/southport/southport-system/sentinel/index.js

[Install]
WantedBy=multi-user.target
